@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    background-color: rgb(0, 204, 255);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13, 109, 59);
    padding: 20px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 90%;
}
header li{
    display: inline-block;
    line-height: 30px;
    margin-right: 20px;
    font-weight: 700;
}
header nav{
    float: right;
}
header h1{
    display: inline-block;
    line-height: 30px;
}





/* Main */
main{
    background-color: antiquewhite;
    padding-bottom: 40px;
    padding-top: 70px;
}
.sobreMi{
    color: rgb(150, 16, 132);
    font-family: 'Poppins';
    font-size: 1.1em;
    font-weight: bold;
    /* padding: 20px 150px; */
    text-align: center;
}
.sobreMi p{
    text-align: justify;
    margin: 20px;
}
.descripcion{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
main p{
    font-size: 15px;
}
.trabajos{
    font-size: 2em;
    margin-bottom: 30px;
}
.imagenes{
    height: 150px;
    width: 200px;
    border-radius: 5%;
}
.pictures{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
#fotoGrande{
    width: 70%;
    height: 400px;
    margin-bottom: 40px;
}
.fotoGrande{
    display: flex;
    justify-content: center;
}
.tarjetas{
    display: flex;
    justify-content: space-around;
}
.contenedorTarjetas{
    width: 200px;
}



/* Footer */
footer{
    background-color: rgb(222, 159, 41);
    color: black;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}
.socialNetworks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h3{
    text-align: center;
    font-size: 2em;
}
footer a{
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}
footer p{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
}